html {
  font-size: 62.5%;
}

* {
border:0;
margin:0;
padding:0;
}

body {
  font-family: "Open Sans", serif;
}

/*All stylings for banner*/
.banner {
  background-color: #E5F3F2 ;
  height: 250px;
}

.banner-content {
  width: 100%;
}

h1 {
  color: #00A79D ;
  font-family: "Roboto Slab", serif;
  font-size: 7rem;
  text-align: center;
}

.h1-style {
  color: #6D6E71 ;
}

.top-inputs {
  text-align: center;
}

.show-hide-button {
  display: block;
  border: 1px solid black;
  margin: 0.5rem auto;
  padding: 0.5rem;
  align-self: center;
}

.show-more {
  display: block;
  border: 1px solid black;
  margin: 0.5rem auto;
  padding: 0.5rem;
  text-align: center;
}

.title,
.task {
  align-self: center;
  border: solid #D1D3D4 0.5px;
  box-shadow: 0 0 0 .1rem rgba(187,189,191,0.3);
  color: #939598 ;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  margin-bottom: 2rem;
  padding: 0.5% 0.5%;
  width: 80%;
}

.completed {
  background-color: #c0d6e4;
  padding: 5px 0 5px 5px;
}

.completed-task {
  display: block;
  border: 1px solid black;
  margin-left: 2%;
  padding: 5px;
}
.filter {
  width: 80%;
  margin: auto;
}

.filter-bar {
  border: solid #D1D3D4 0.5px;
  box-shadow: 0 0 0 .1rem rgba(187,189,191,0.3);
  color: #939598 ;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  padding: 0.2% 0.5%;
  width: 100%;
  margin: 2rem 0 2rem 0;
  box-sizing: border-box;
}

input::placeholder {
  color: rgb(187,189,191);
}

.save-button {
  background-color: #00A79D ;
  color: #FFFFFF ;
  font-size: 1.5rem;
  text-align: center;
  padding: .5% 0;
  width: 81%;
}

.completed-todos {
  text-align: center;
}

/*Resizing delete, up vote, & down vote buttons*/
img {
  height: 20px;
  width: 20px;
}

.two-do-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.unique-id-style {
  margin-right: 4rem;
  position: relative;
  width: 60%;
}

h2 {
  color: #6D6E71 ;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

h3 {
  display: inline;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 400;
}

.importance-buttons {
  text-align: center;
}

.critical,
.high,
.normal,
.low,
.none {
  margin: .5%;
  width: 8rem;
  border: 1px solid black;
  padding: .5rem;
}

.critical:hover,
.high:hover,
.normal:hover,
.low:hover,
.none:hover {
  background-color: #939598;
}

.delete-button {
  position: absolute;
  right: .55rem;
  top: 0.35rem;
}

.idea-details {
  color: #939598 ;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
  text-align: justify;
  word-wrap: break-word;
}

.upvote-button {
  padding-right: 1rem;
}

.downvote-button {
  padding-right: 1.2rem;
}

.upvote-button:hover {
  background: url("images/upvote-hover.svg") no-repeat;
}

.idea-quality,
.quality-value {
  color: #6D6E71 ;
  margin-bottom: 1rem;
}

hr {
  background-color: #D1D3D4 ;
  border: none;
  height: 1px;
  margin: 1rem 0 1rem 0;
}



/*
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

 .banner {
    height: 252px;
    width: 100%;
  }

 .filter,
  .two-do-list {
    height: 71%;
    width: 85%;
  }

 .unique-id-style {
    margin-right: -8.5rem;
    width: 75%;
  }

 h1 {
    font-size: 30px;
    margin: 10px auto 10px auto;
    width: 50%;
  }

 .title {
    margin: 0 0 6% 11%;
    padding: .4% 2.6%;
    width: 85%;
  }

 .task {
    height: 76px;
    margin: 0 0 6% 11%;
    padding: .4% 2.6%;
    width: 85%;
  }

 .save-button {
    width: 91%;
    margin: 0 0 6% 11%;
  }

 .filter-bar {
    width: 73%;
  }
}


*/