* {
  border:0;
  margin:0;
  padding:0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", serif;
}

button {
  outline: none;
}

h1 {
  color: #00A79D ;
  font-family: "Roboto Slab", serif;
  font-size: 10rem;
  text-align: center;
}

h2 {
  margin-left: 1rem;
  color: #6D6E71 ;
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
}

h3 {
  display: inline;
  position: relative;
  bottom: .7rem;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 400;
}

p {
  margin-left: 1rem;
  font-size: 2.5rem;
}

hr {
  height: 1px;
  margin: 1rem 0 1rem 0;
  background-color: #D1D3D4 ;
  border: none;
}

input::placeholder {
  color: #d1d3d4;
}

.banner {
  height: 35rem;
  background-color: #E5F3F2 ;
}

.banner-content {
  margin: auto;
  width: 60%;
}

.h1-style {
  color: #6D6E71 ;
}

.title,
.task {
  box-shadow: 0 0 0 .1rem rgba(187,189,191,0.3);
  box-sizing: border-box;
  margin-bottom: 2rem;
  outline: none;
  padding: 1rem 1rem;
  width: 100%;
  border: solid #D1D3D4 0.5px;
  color: #939598 ;
  font-size: 2rem;
  letter-spacing: .05rem;
}

.completed {
  background-color:#E5F3F2;
  background-image: url(images/checkmark.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.completed-task {
  display: block;
  margin-left: 1rem;
  padding: 1rem;
  width: 20rem;
  background-color: #00A79D;
  color: #FFF; 
  font-size: 2rem; 
}

.completed-task img {
  position: relative;
  top: 3px;
  height: 2rem;
  margin: 0 1rem;
  width: 2rem;
}

.filter {
  margin: auto;
  width: 60%;
}

.filter-bar {
  box-sizing: border-box;
  outline: none;
  margin: 2rem 0 2rem 0;
  padding: 1rem 0.5%;
  width: 100%;
  border: solid #D1D3D4 0.5px;
  color: #939598 ;
  font-size: 2rem;
  letter-spacing: .05rem;
}

.save-button {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 100%;
  background-color: #00A79D;
  color: #FFFFFF ;
  font-size: 2rem;
  text-align: center;
}

.two-do-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.unique-id-style {
  position: relative;
  box-sizing: border-box;
  margin: 0 0 .5rem 0;
  width: 100%;
}

.title-output,
.task-output {
  outline: none;
}

.critical,
.high,
.normal,
.low,
.none,
.show-more-button,
.show-completed-button {
  width: 19.5%;
  padding: 1rem;
  background-color: #00a79d;
  color: #fff;
  font-size: 2rem;
}

.critical:hover,
.high:hover,
.normal:hover,
.low:hover,
.none:hover,
.show-more-button:hover,
.show-completed-button:hover,
.completed-task:hover {
  background-color: #D1D2D4;
}

.show-more-button,
.show-completed-button {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  width: 99.7%;
}

.show-more-button {
  margin: 1rem 0 4rem 0;
  width: 100%;
}

.bottom-section {
  margin: auto;
  width: 60%;
}

.delete-button {
  position: absolute;
  right: .55rem;
  top: 0.35rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-image: url('images/delete.svg'); 
}

.delete-button:hover {
  background-image: url('images/delete-hover.svg');
}

.upvote-button,
.downvote-button {
  height: 3rem;
  margin: 1rem;
  width: 3rem;
  border-radius: 50%;
}

.upvote-button {
  background-image: url('images/upvote.svg');
}

.downvote-button {
  background-image: url('images/downvote.svg');
}

.upvote-button:hover {
  background-image: url("images/upvote-hover.svg");
}

.downvote-button:hover {
  background-image: url('images/downvote-hover.svg');
}

@media screen and (max-width: 700px) {

  h1 {
    font-size: 8rem;
  }

  .banner {
    height: 30rem;
  }

  .banner-content,
  .filter,
  .two-do-list,
  .bottom-section {
    width: 80%;
  }
}

@media screen and (max-width: 520px){
  
  h1 {
    font-size: 6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .banner {
    height: 27rem;
  }

  .critical,
  .high,
  .normal,
  .low {
    margin: 0 0 .3rem 0;
    width: 49.4%;
  }

  .none {
    width: 99.6%;
  }

  .downvote-button {
    margin-left: 0;
  }

  .completed-task {
    width: 16rem;
    font-size: 1.5rem;
  }

  .completed-task img {
    height: 1.5rem;
    width: 1.5rem;
}













